.searchForm {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100% ; 
}


.searchInput {
  position: relative; 
  width: 100%;
  height: 100% ; 
  border-radius: 40px; 
  padding-left: 10px; 
  padding-right: 40px; 
  border: 1px solid #002462;
  box-shadow: 0 0 2px #002462;  
  background-color: var(--popup-background); 
  transition: border-color 0.3s ease; 
  font-size: medium;
  font-family: var(--primary-font-family);
  color: var(--text-secondary-color);
}
.searchInputWithResults{
  position: relative; 
  width: 100%;
  height: 100% ; 
  border-radius: 25px 25px 0px 0px; 
  padding-left: 10px; 
  padding-right: 40px; 
  border: 1px solid #cacaca; 
  background-color: var(--popup-background); 
  transition: border-color 0.3s ease; 
  font-size: medium;
  font-family: var(--primary-font-family);
  color: var(--text-secondary-color);
  
}

.searchInput:focus {
  outline: none; 
  border-color: rgb(0, 62, 124); 
}
.searchInputWithResults{
  outline: none; 
}

.searchButton {
  position: absolute;
  right: 10px; 

  background-color: transparent; 
  border: none; 
  cursor: pointer;
  transition: transform 0.3s ease; 
}

.searchButton:hover {
  transform: scale(1.4); 
}

.searchIcon {
  color: #000; 
  font-size: large;
}
