@import "../../../App.css";

.no-results-text {
  /* No results found. */
  color: var(--text-secondary-color);
  font-family: var(--primary-font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 48px;
  width: 352px;
}

.results-container {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 0 0 25px 25px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  height: 85vh;
  padding: 8px 8px 16px 8px;
  position: absolute;
  top: 49px;
  width: 100%;
}

.search-container {
  box-sizing: border-box;
  left: 32px;
  position: absolute;
  top: 20px;
  transition: top 0.3s ease;
  width: 352px;
}

.search-input {
  box-sizing: border-box;
  height: 48px;
  position: absolute;
  width: 100%;
  z-index: 1;
}
