@import '../../../App.css';


.mainContainer {
    width: 44vw;
    height: 91vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secondary-popup-background);
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    z-index: 9999; 

  }

  .createEventHeader {
    width: 42vw;
    height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 8px;
    border-bottom: 2px solid var(--primary-color);
  }
  
.CloseButton {
    margin-top: auto;
}

.photoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px; /* Простір між рядками фотографій */
  }
  
  .photo {
    width: 12.8vw; /* Ширина фотографії */
    height: 10.1vh; /* Висота фотографії */
    background-color: var(--primary-2-popup-background);
    position: relative; /* Для розміщення тексту і кнопки додавання */
    margin-bottom: 20px;
}
  
  .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Заповнює область фотографії */
    border-radius: 8px; /* Округлість країв фотографій */
  }
  
  .addPhotoLabel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.5); /* Прозорість кнопки додавання */
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    visibility: hidden; /* Початково ховаємо текст "Add photo" */
  }
  
  .photo:hover .addPhotoLabel {
    visibility: visible; /* Показуємо текст "Add photo" при наведенні на фотографію */
  }