.CancelButton{
    font-family: var(--primary-font-family);
    font-size: 2.5vh;
    color: var(--third-color);
    width: 20vh;
    height: 5vh;
    background-color: var(--primary-2-popup-background);
    border: 2px solid var(--third-color);
    border-radius: 25px;
    cursor: pointer;
}

.CancelButton:hover{
    background-color: var(--third-color);
    color: var(--primary-2-popup-background);
}
