.message {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--third-color);
  width: 15vw;
  margin-top: 5vh;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
