*,
*::after,
*::before {
  box-sizing: border-box;
}

.wrapper-container {
  border-radius: 30px;
  box-shadow: 0px 0 4px 1px var(--third-color);
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(5px);
  height: 85vh;
  min-width: 330px;
  padding: 8px;
  position: absolute;
  right: 0;
  top: 80px;
  width: 20vw;
}

.inner-container {
  display: flex;
  flex-direction: column;
  font-family: var(--primary-font-family), sans-serif;
  font-style: normal;
  height: 98%;
  overflow: auto;
  width: 100%;
  z-index: 991;
}

.heading {
  font-family: var(--secondary-font-family), sans-serif;
  font-style: normal;
  font-size: 1.5rem;
  margin-top: 10px;
}

/* Header */

.header {
  align-items: center;
  display: flex;
  font-size: 1.1rem;
  justify-content: space-between;
  min-height: 4.5vh;
}

.header h2 {
  margin: 0;
}

main {
  height: 88%;
  padding: 20px;
  margin-bottom: 2%;
  overflow: auto;
}

/* Photo */
.photo-container {
  height: 25%;
}

/* Categories */
.category-container {
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  margin-bottom: 3%;
  margin-top: 3%;
  overflow-x: auto;
  padding: 3px 0;
}

.category {
  border: 1.5px var(--third-color) solid;
  border-radius: 5px;
  color: var(--third-color);
  display: inline-block;
  font-weight: 400;
  padding: 0.3vh;
}

/* Date */
.date-btn {
  background: transparent;
  border: solid var(--primary-color);
  border-radius: 8px;
  cursor: pointer;
  padding: 3px 5px;
}

.date-container {
  align-items: center;
  color: var(--third-color);
  display: flex;
  font-family: var(--primary-font-family), sans-serif;
  font-style: normal;
  justify-content: space-between;
  max-height: 8vh;
  position: relative;
}

.date-range-container {
  display: flex;
  flex-direction: column;
  font-size: var(--sm-size);
  height: 7vh;
  justify-content: center;
}

.day {
  font-weight: 300;
  margin-right: 5px;
}

.expire-at {
  display: flex;
}

.location {
  align-items: center;
  display: flex;
  font-size: var(--sm-size);
  font-weight: 300;
  height: 7vh;
  overflow-wrap: break-word;
  position: absolute;
  right: 10px;
  width: 40%;
}

.location button {
  all: unset;
  cursor: pointer;
}

.start-at {
  display: flex;
}

.time {
  font-weight: 200;
}

.vl {
  border-left: 1px solid;
  height: 100%;
  left: 50%;
  position: absolute;
}

/* Participants */
.participant-container {
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;
}

.participant-img {
  border-radius: 50%;
  height: 53px;
  object-fit: cover;
  width: 53px;
}

.participants-photos {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  width: 100%;
}

.requests-count-container {
  position: absolute;
  right: 0;
  top: 0;
}

.show-more-participants {
  height: 53px;
  width: 53px;
}

.show-more-participants-btn {
  align-items: center;
  background-color: var(--primary-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0;
  position: absolute;
  right: 0;
  transition: background-color 0.3s;
}

.show-more-participants-btn:hover {
  background-color: var(--primary-color-hover);
}

.show-more-participants-btn-icon {
  color: var(--primary-popup-background);
  font-size: 2.5em;
}

.show-more-participants button {
  height: 53px;
  width: 53px;
}

/* About section */

.about-container {
  display: flex;
  flex-direction: column;
  font-family: var(--primary-font-family), sans-serif;
  font-style: normal;
}

.about-text-full {
  hyphens: auto;
  word-wrap: break-word;
  /* word-break: break-all; */
}

.about-text-hidden {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  hyphens: auto;
  overflow: hidden;
  word-wrap: break-word;
}

.show-more-btn {
  align-self: flex-start;
  background: transparent;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
  font-weight: 800;
  margin: 3% 0;
  padding: 0;
}

/* Lower Container */

.action-2-btn {
  align-items: center;
  background: transparent;
  border: var(--third-color) solid 1px;
  color: var(--third-color);
  display: flex;
  height: 100%;
  justify-content: center;
}

.action-2-btn:hover {
  background-color: var(--third-color-hover);
}

.action-btn {
  align-items: center;
  display: flex;
  font-size: 23px;
  height: 100%;
  justify-content: center;
  width: 5vw;
}

.action-btns-container {
  bottom: 10px;
  height: 3.9vh;
  position: absolute;
  right: 10px;
}

.btns-container {
  align-items: center;
  display: flex;
  font-family: var(--primary-font-family);
  gap: 1px;
  height: 100%;
}

.isOwner-action-2-btn {
  align-items: center;
  background: transparent;
  border: var(--third-color) solid 1px;
  color: var(--third-color);
  display: flex;
  height: 100%;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.isOwner-action-2-btn:hover {
  background-color: var(--third-color-hover);
}

.isOwner-action-btn {
  align-items: center;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  display: flex;
  font-size: var(--sm-size);
  height: 100%;
  justify-content: center;
  transition: border 0s;
  width: auto;
}

.isOwner-edit-btn {
  align-items: center;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  display: flex;
  font-size: var(--sm-size);
  height: 100%;
  justify-content: center;
  width: auto;
  /* border: var(--primary-color) solid 1px; */
}

.lower-container {
  align-items: center;
  bottom: 10px;
  display: flex;
  height: 3.9vh;
  justify-content: space-between;
  position: absolute;
}

/* Scroll bar */

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--primary-popup-background);
  border-radius: 100vw;
  margin-block: 30px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--third-color);
  border-radius: 100vw;
}

@media (width >= 1080px) and (width < 1280px) {
  .side-bar-container {
    margin-top: 0;
  }

  .header {
    font-size: var(--xxxs-size);
  }

  .heading {
    font-size: var(--xs-size);
  }

  .photo-container {
    height: 35%;
  }

  .date-range-container {
    font-size: var(--xxs-size);
  }

  .location {
    font-size: var(--xxxs-size);
  }

  .spots {
    font-size: var(--sm-size);
  }

  .action-btn {
    align-items: center;
    display: flex;
    font-size: var(--sm-size);
    height: 30px;
    justify-content: center;
    width: 80px;
  }

  .participant-img {
    height: 40px;
    width: 40px;
  }

  .show-more-participants-btn-icon {
    color: var(--primary-popup-background);
    font-size: 2em;
  }

  .show-more-participants {
    height: 40px;
    width: 40px;
  }

  .show-more-participants button {
    height: 40px;
    width: 40px;
  }

  .about-text {
    font-size: var(--xxs-size);
  }

  .about-text-full {
    font-size: var(--xxs-size);
  }

  .about-text-hidden {
    font-size: var(--xxs-size);
  }

  .isOwner-action-btn {
    font-size: var(--xxxs-size);
  }
  .isOwner-edit-btn {
    font-size: var(--xxxs-size);
  }

  .category {
    border-radius: 5px;
    font-weight: 400;
    font-size: var(--xxs-size);
    padding: 0.3vh;
  }
}

@media (width >= 1280px) and (width < 1700px) {
  .side-bar-container {
    margin-top: 0;
    padding: 10px 12px;
  }

  .header {
    font-size: var(--xxs-size);
  }

  main {
    padding: 10px;
  }

  .date-container {
    height: 80px;
  }
  .heading {
    font-size: var(--xs-size);
    margin: 0;
  }

  .category {
    font-size: var(--xxs-size);
  }

  .date-range-container {
    /* border: solid; */
    font-size: var(--xxs-size);
    width: 140px;
  }

  .location {
    /* border: solid; */
    font-size: var(--xxs-size);
    width: 110px;
  }

  .vl {
    /* display: none; */
    height: 80%;
  }

  .action-btn {
    font-size: var(--xs-size);
  }

  .participant-container {
    margin: 3% 0;
  }

  .participant-img {
    height: 40px;
    width: 40px;
  }

  .show-more-participants-btn-icon {
    color: var(--primary-popup-background);
    font-size: 2em;
  }

  .show-more-participants {
    height: 40px;
    width: 40px;
  }

  .show-more-participants button {
    height: 40px;
    width: 40px;
  }

  .about-text-full {
    font-size: var(--xxs-size);
  }

  .about-text-hidden {
    font-size: var(--xxs-size);
  }

  .isOwner-action-btn {
    font-size: var(--xxxs-size);
  }
  .isOwner-edit-btn {
    font-size: var(--xxxs-size);
  }

  .isOwner-action-btn {
    font-size: var(--xxs-size);
  }
  .isOwner-edit-btn {
    font-size: var(--xxs-size);
  }
}
