*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Main container */

.requests-btn {
  align-items: center;
  bottom: 10px;
  display: flex;
  font-size: var(--md-size);
  height: 3.5vh;
  justify-content: center;
  position: absolute;
  right: 10px;
  width: 6.5vw;
}

.requests-count-container {
  position: absolute;
  right: 0;
  top: 0;
}

@media (width >= 1080px) and (width < 1280px) {
  .requests-btn {
    font-size: var(--xxs-size);
    /* width: 6.5vw;
    height: 3.5vh;
    position: relative; */
  }
}

@media (width >= 1280px) and (width < 1700px) {
  .requests-btn {
    font-size: var(--xxs-size);
  }
}
