.owner-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 72px;
  font-family: var(--primary-font-family);
  border: solid 1px var(--third-color);
  margin-top: 15px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.info-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.full-name-container {
  position: relative;
  top: -10%;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  margin-left: 15px;
}

.email {
  position: relative;
  top: -25%;
  margin-left: 15px;
}

.full-name-container p {
  font-weight: 500;
  color: var(--third-color);
  margin-left: 5px;
}

.owner-img {
  /* object-fit: cover; */
  width: 72px;
  height: 100%;
}
