
.ApplyChangesButton{
    font-family: var(--primary-font-family);
    font-size: 2.5vh;
    color: var(--primary-popup-background);;
    width: 20vh;
    height: 5vh;
    background-color: var(--primary-color);
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.ApplyChangesButton:hover{
    background-color: var(--primary-color-hover);
}
