.btn {
  all: unset;
  background: transparent;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 3px 0;
}

.btn-icon {
  background-color: var(--primary-color);
  color: var(--primary-popup-background);
  border-radius: 10px;
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
}

.btn-icon:hover {
  background-color: var(--primary-color-hover-2);
}
